{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Tabela <b>Almoxarifado</b> Receptáculo: Remoção</h2>
                </div>
                <!--<div class="col-sm-8">
                    <a href="#" class="btn btn-primary"><i class="material-icons">&#xE863;</i> <span>Refresh List</span></a>
                    <a href="#" class="btn btn-info"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>
                </div>-->
            </div>
        </div>
        <form action="{{ url_for('delete') }}" method="post">
            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" value="{{ request.form.tipo }}"><br>
            <button type="submit" class="registerbtn">Salvar</button>

        </form>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary"><i class="material-icons">arrow_back</i></a>
</div>

{% endblock %}